alembic
bcrypt
bleach
cffi
click
Flask==2.3.2
Flask-Bcrypt
Flask-Login
Flask-Migrate==2.5.2
Flask-PageDown
Flask-Script==2.0.6
Flask-SQLAlchemy
Flask-WTF
gevent
gunicorn
html5lib
itsdangerous
Jinja2
Mako
MarkupSafe
mistune
pycparser
python-dateutil
python-editor
six
SQLAlchemy
webencodings
Werkzeug
WTForms
email_validator
psycopg2-binary
