{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>About me</h2>
        <br><br><br>
        <ul>
            <li>一个很菜的ACM和CTF选手</li><br>
            <li>但是还是很想继续</li><br>
        </ul><br>
        <p>邮箱: <a href="mailto:logjian@gmail.com">logjian@gmail.com</a></p><br>
        <p>微博: <a href="https://weibo.com/u/3146436734" target="_blank">https://weibo.com/u/3146436734</a></p><br>
    </div>
    <div class="col-md-2"></div>
</div>
<br><br>

{% endblock %}