{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2>About</h2>
        <br><br><br>
        <ul>
            <li>没空打比赛的社畜</li><br>
        </ul><br>
        <p>邮箱: <a class="text-info" href="mailto:logjian@gmail.com">logjian@gmail.com</a></p><br>
        <p><a class="text-info" href="https://github.com/marryjianjian/flaskblog" target="_blank">这个博客</a>开发不动了，直接换<a class="text-info" href="https://blog.fflush.me">新的<a/>了</p>
    </div>
    <div class="col-md-2"></div>
</div>
<br><br>

{% endblock %}
