{% extends "layout.html" %}
{% from "widget.html" import pagination_widget %}
{% block body %}

<style>
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<div class="container">
    <div class="row">
    {% for post in posts %}
    <div class="col-md-2"></div>
    <div class="card mb-3 col-md-8 text-center">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <p class="card-text">{{ post.content_summary }}</p>
            <a href="{{ url_for('main.article_details', article_id=post.id) }}" class="btn btn-light btn-sm">more</a>
        </div>
    </div>
    <div class="col-md-2"></div>
    {% endfor %}
</div>
<br><br>
{{ pagination_widget(pagination, '.index') }}

{% endblock %}