{% extends "layout.html" %}

{% block title %}
{{ super() }}
--Add post
{% endblock %}

{% block body %}

<div class="container">
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group" style="margin: auto;">
            <div class="col-md-8" style="margin: auto;">
                <label>{{ form.title.label }}</label>
                {{ form.title(class='form-control') }}
            </div>
            <div class="col-md-8" style="margin: auto;">
                <label>{{ form.tag.label }}</label>
                {{ form.tag(class='form-control') }}
            </div>
            <div class="col-md-8" style="margin: auto;">
                <label>{{ form.content.label }}</label>
                {{ form.content(class='form-control') }}
            </div>
            <br>
            <div style="margin: auto;">
                {{ form.submit(class='btn btn-primary') }}
            </div>
            <br>
            <br>
        </div>

    </form>
</div>
{% block scrpts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% endblock %}
