{% extends "layout.html" %}
{% from "_form.html" import render_field %}

{% block body %}

<div class="container">
<!--     <div class="form-group col-md-6" style="margin: auto;">
        <label>Tags select</label>
        <select class="form-control">
            {% for tag in tags %}
            <option>{{ tag.name }}</option>
            {% endfor %}
        </select>
    </div> -->

    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group" style="margin: auto;">
            <div class="col-md-6" style="margin: auto;">
                <label>{{ form.title.label }}</label>
                {{ form.title(class='form-control') }}
            </div>
            <div class="col-md-6" style="margin: auto;">
                <label>{{ form.tag.label }}</label>
                {{ form.tag(class='form-control') }}
            </div>
            <div class="col-md-6" style="margin: auto;">
                <label>{{ form.content.label }}</label>
                {{ form.content(class='form-control') }}
            </div>
            <br>
            <span style="margin: auto;">{{ form.submit(class='btn btn-primary') }}</span>
            <br>
            <br>
        </div>

    </form>
</div>

{% endblock %}
